# === Java ===
*.class
*.jar
*.war
*.ear
*.iml

# === Папки сборки ===
/out/
/build/
/target/

# === IntelliJ IDEA ===
.idea/
/*.iws
/*.ipr
/*.iml

# === Eclipse ===
.project
.classpath
.settings/
bin/

# === VS Code ===
.vscode/

# === Mac OS ===
.DS_Store

# === Windows ===
Thumbs.db
ehthumbs.db
desktop.ini

# === Логи ===
*.log

# === Кэш ===
*.swp
*.swo

# === Секретные/временные файлы ===
/data/results.txt